---
name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Test
        env:
          RUST_BACKTRACE: 1
          ARBTEST_BUDGET_MS: 10000
        run: ./ci/test.sh
